@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: var(--color-emerald-700);
  --heading: var(--color-emerald-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-heading: var(--heading);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}

@layer base {
  th {
    @apply text-left;
  }
}
